<nav id="scroll_down_id" class="navbar navbar-default navbar-fixed-top topnav" role="navigation" >
    <div class="container topnav">

            <!-- Адапатация для мобильный устройств -->
            <!-- Логотип -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Ссылка-лого -->
                <div class="logo">
                    <% logo = image_tag("logo.png", height: "40px") %>
                    <%= link_to logo, "#intro", class: "topnav" %>
                </div>
            </div>

            <!-- Панель навигации -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Главная", "#intro" %></li>
                    <li><%= link_to "О Компания", "#about_us" %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукция<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Пиломатериалы", "#pr_1" %></li>
                                <li><%= link_to "Клееная продукция", "#pr_2" %></li>
                                <li><%= link_to "Погонажные изделия", "#pr_3" %></li>
                                <li><%= link_to "Кровельный материал", "#pr_4" %></li>
                            </ul>
                    </li>
                    <li><%= link_to "Услуги", "#services" %></li>
                    <li><%= link_to "Контакты", "#contact" %></li>
                </ul>
            </div>

    </div>
</nav>
