<div class="products">
    <div class="container">
        <!-- Пиломатериалы -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_1" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><strong>КАТАЛОГ ПРОДУКЦИИ</strong><p><small>Пиломатериалы</small></p></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_1", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Паллетная заготовка</h3>
                <p>Доска обрезная и брус деревянный стандартных размеров, предназначены для изготовления деревянных поддонов</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_2", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Брус</h3>
                <p>Пиломатериал, толщиной и шириной 100 мм (100х100) и более. Изготавливается из бревен. Деревянный брус используется в строительстве, в мебельной промышленности, в производстве тары и в других отраслях</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_3", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Доска обрезная</h3>
                <p>Доска обрезная используется в строительстве, в мебельной промышленности, в производстве тары.</p>
            </div>
        </div>
        <!-- Клееная продукция -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_2" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><p><small>Клееная продукция</small></p></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_4", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Оконный брус</h3>
                <p>Брус, склеенный из нескольких слоев древесины. При склеивании в брус подбираются ламели с взаимно противоположными направлениями деревянных волокон, это позволяет погасить возникающие внутри бруса напряжения и обеспечивает сохранение геометрической формы во время всего срока эксплуатации</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_5", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Строительный брус</h3>
                <p>Пиломатериал, толщиной и шириной 100 мм (100х100) и более. Изготавливается из бревен. Деревянный брус используется в строительстве, в мебельной промышленности, в производстве тары и в других отраслях</p>
            </div>
        </div>
        <!-- Погонажные изделия -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_3" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><p><small>Погонажные изделия</small></p></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_6", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Доска пола</h3>
                <p>Строганная доска с четырёх сторон и изготовленная из  хвойной  породы дерева.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_7", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Имитация бруса</h3>
                <p>Вид обшивочной доски для наружной и внутренней отделки дома. При отделке стен этой доской визуально создается впечатление, что дом сложен из бруса</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_8", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Евровагонка</h3>
                <p>Тонкая обшивочная доска, продукт переработки древесины. Используются для внутренней и внешней отделки помещений: жилые комнаты, бани, сауны, лоджии, балконы, мансардные, технические и подсобные помещения.</p>
            </div>
                <div class="col-lg-4 col-sm-6 text-left">
                    <div class="image">
                        <%= image_tag "product_9", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Блок-хаус</h3>
                <p>Строганая доска типа вагонка, выполненная в виде сегмента оцилиндрованного бревна или профилированного бруса. Предназначена для внутренней и внешней декоративной отделки помещений и зданий</p>
            </div>
        </div>
        <!-- Кровельный материал -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_4" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><p><small>Кровельный материал</small></p></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_10", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Кровля из дранки</h3>
                <p>Дранка представляет собой тоненькие пластинки из дерева, которые имеют среднюю толщину от 3 до 8 мм., а ширину от 80-ти до 160-ти мм., а также длиной от 350 до 450 мм.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-left">
                <div class="image">
                    <%= image_tag "product_11", class: "img-thumbnail img-responsive img-center center-block" %>
                </div>
                <h3>Кровля из тростника</h3>
                <p>Давняя строительная традиция, которая в настоящее время возрождается. Причиной этому является не только бум на экологическое строительство и возросший в связи с этим спрос на натуральные строительные материалы, но и развитие технологий которые вдохнули в соломенную и тростниковую кровлю новую жизнь и сделали ее по-настоящему конкурентоспособной</p>
            </div>
        </div>
    </div>
</div><br>
