<div class="products">
    <div class="container">
        <!-- Пиломатериалы -->
        <!-- div решает проблему: закрытие названия блока при переходе по якорной ссылке -->
        <div id="pr_1" class="scroll_down"></div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Oferta</h2>
            </div>
            <div class="col-lg-12">
                <p>Oferujemy tarcice suchą oraz mokrą. Na składzie w pobliżu Warszawy znajduje się w stałej sprzedaży tarcica dęba, sosny, brzozy oraz jesienią (różnych rodzajów drewna, gotyków). Na zapotrzebowanie klienta robimy ciecie pod konkretny wymiar.</p>
                <p>Poniżej znajdują się wszelkie informacje o rozmiarach i cenach.</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">DĄB <small><p>Tarcica dębowa nieobrzynana | Sucha oraz mokra</p></small></h3>
                <div>
                    <div class="image">
                        <% image = image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                        <a href="#moral_for_product_1" data-toggle="modal"><%= image %></a>
                    </div>
                    <!-- HTML-код модального окна-->
                    <div id="moral_for_product_1" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Заголовок модального окна -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Дуб <small><p>Необрезная доска | Сухая</p></small></h4>
                          </div>
                          <!-- Основное содержимое модального окна -->
                          <div class="modal-body">
                            <%= image_tag "product_1.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_2.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_3.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                          </div>
                          <!-- Футер модального окна -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p>Lite, mocne i twarde drewno, umiarkowane pęcznienie i ubytek, z wysoką wytrzymałością i elastycznością, w miarę łatwo poddaję się obróbce. Barwa od jasnobrązowej do różowobrązowej. Wykorzystane do produkcji mebli, drzwi, boazerii, parapetów, schodów i parkietów. Dostępne grubości w mm: 26, 28, 32, 38, 40, 50. Dostępna w każdej klasie (1kl., 2kl., 3kl.)</p>
                <p>Cena od <b>XXXX</b></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">BRZOZA <small><p>Tarcica brzozowa nieobrzynana | Sucha oraz mokra</p></small></h3>
                <div>
                    <div class="image">
                        <% image = image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                        <a href="#moral_for_product_2" data-toggle="modal"><%= image %></a>
                    </div>
                    <!-- HTML-код модального окна-->
                    <div id="moral_for_product_2" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Заголовок модального окна -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Береза <small><p>Необрезная доска | Сухая</p></small></h4>
                          </div>
                          <!-- Основное содержимое модального окна -->
                          <div class="modal-body">
                            <%= image_tag "product_1.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_2.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_3.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                          </div>
                          <!-- Футер модального окна -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p>Drewno brzozowe jest miękkie, niezbyt ciężkie i bezzapachowe. Jego kolejną cechą charakterystyczną jest elastyczność, ciągliwość i giętkość, o bardzo różnych barwach od jasnożółtej do jasnoczerwonej. Drewno brzozowe wykorzystywane jest przede wszystkim do produkcji oklein, płyt wiórowych czy pilśniowych. Nadaje się również do produkcji mebli, okładzin oraz parkietu. Dostępne grubości w mm: 26, 28, 40.  Dostępna w każdej klasie (1kl., 2kl., 3kl.)</p>
                <p>Cena od <b>XXXX</b></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">JASION <small><p>Tarcica jesionowa nieobrzynana | Sucha oraz mokra</p></small></h3>
                <div>
                    <div class="image">
                        <% image = image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                        <a href="#moral_for_product_3" data-toggle="modal"><%= image %></a>
                    </div>
                    <!-- HTML-код модального окна-->
                    <div id="moral_for_product_3" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Заголовок модального окна -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Ясень <small><p>Необрезная доска | Сухая</p></small></h4>
                          </div>
                          <!-- Основное содержимое модального окна -->
                          <div class="modal-body">
                            <%= image_tag "product_1.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_2.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_3.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                          </div>
                          <!-- Футер модального окна -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p>Drewno mocne, elastyczne, twarde. O jasnym odcieniu z wyraźnie zaznaczonym słojem. Wykorzystuje się przede wszystkim w produkcji schodów, podłóg, parkietów, mebli. Dostępne grubości w mm: 26, 28, 32, 50.  Dostępna w każdej klasie (1kl., 2kl., 3kl.)</p>
                <p>Cena od <b>XXXX</b></p>
            </div>
            <div class="col-lg-6 col-sm-6 text-left">
                <h3 class="product_name">SOSNA <small><p>Tarcica sosnowa nieobrzynana | Sucha oraz mokra</p></small></h3>
                <div>
                    <div class="image">
                        <% image = image_tag "http://www.mastermo.ru/index_files/laminat/D-2413-V4-Dub-Belenyj-0_fancybox.jpg", class: "img-thumbnail img-responsive img-center center-block main_product_image" %>
                        <a href="#moral_for_product_4" data-toggle="modal"><%= image %></a>
                    </div>
                    <!-- HTML-код модального окна-->
                    <div id="moral_for_product_4" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Заголовок модального окна -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Сосна <small><p>Необрезная доска | Сухая</p></small></h4>
                          </div>
                          <!-- Основное содержимое модального окна -->
                          <div class="modal-body">
                            <%= image_tag "product_1.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_2.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                            <%= image_tag "product_3.jpg", class: "img-thumbnail img-responsive img-center center-block" %>
                          </div>
                          <!-- Футер модального окна -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p>ДDrewno o barwie jasnożółtej, bardzo wyraźne stożkowate słoje, zawiera sporo żywicy. Podczas suszenia podatne na pęcznienie, dobre do cięcia i strugania, łatwe w obróbce, dobre do klejenia oraz do obróbki powierzchniowej, dobre do szlifowania i bejcowania. Wykorzystywane na bardzo szeroką skalę w budownictwie, meblarstwie. Dostępne grubości w mm: 25, 32, 40, 50, 63.  Dostępna w każdej klasie (1kl., 2kl., 3kl.)</p>
                <p>Cena od <b>XXXX</b></p>
            </div>
            <div class="col-lg-12 text-center">
                <p><span class="highlighted">Oferta oraz podane ceny mają jedynie charakter informacyjny i nie stanowią oferty handlowej w rozumieniu Art. 66 par.1 Kodeksu Cywilnego.</span></p>
            </div>
        </div>
    </div>
</div><br>
