<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @order.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @order.text %>
</p>

<%= link_to 'Back', root_path %>
