<h1>Заявка</h1>

<p>
  <strong>Компания:</strong>
  <%= @order.company%>
</p>

<p>
  <strong>Электронная почта:</strong>
  <%= @order.email%>
</p>

<p>
  <strong>Имя:</strong>
  <%= @order.name%>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @order.number%>
</p>

<p>
  <strong>Текст:</strong>
  <%= @order.text%>
</p>
