<nav id="scroll_down_id" class="navbar navbar-default navbar-fixed-top topnav" role="navigation" >
    <div class="container topnav">

            <!-- Адапатация для мобильный устройств -->
            <!-- Логотип -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Ссылка-лого -->
                <div class="logo">
                    <% logo = image_tag("logo.png", height: "40px") %>
                    <%= link_to logo, "#intro", class: "topnav" %>
                </div>
            </div>

            <!-- Панель навигации -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">

                    <li><%= link_to "Home", "#intro" %></li>
                    <li><%= link_to "Company", "#about_us" %></li>
                    <li><%= link_to "Products", "#pr_1" %></li>
                    <li><%= link_to "Services", "#services" %></li>
                    <li><%= link_to "Gallery", gallery_path %></li>
                    <li><%= link_to "Contact", "#contact" %></li>
                </ul>
                <div>
                    <ul class="language nav navbar-nav navbar-right">
                        <li><%= image_tag("https://www.hasslacher.com/layout/img/png/lng/ru.png", height: "20px") %></li>
                        <li><%= image_tag("https://www.hasslacher.com/layout/img/png/lng/en.png", height: "20px") %></li>
                        <li><%= image_tag("https://www.hasslacher.com/layout/img/png/lng/it.png", height: "20px") %></li>
                    </ul>
                </div>
            </div>
    </div>
</nav>
